<div class='app_show_view'>
    <h2><%= @application.title %></h2></br>
    <h3>URL: <%= @application.url %></h3>
    <div class='col-md-12'>
        <% @events_group.each do |event| %>
            <p>Name: <span class='event_name'><%= event[0] %></span>, Count: <span class='event_count'><%= event[1].count %></span></p>
        <% end %> 
        <div class='col-md-12' >
            <%= pie_chart @application.events.group(:name).count, class: 'graph' %>
            <%= line_chart @application.events.group('date("events"."created_at","start of day")').count %>
        </div>
    </div>
    <%= link_to 'Edit', edit_user_application_path(current_user, @application), class: 'btn btn-info register_edit_app' %>
</div>